talend_project/FINDWELLANDINACESSIBLESUPERMARKETS/services/FindInacessbileSupermarkets_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="getWellandInacessbileSupermarkets"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="FindInacessbileSupermarketsOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FindInacessbileSupermarketsOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="FindInacessbileSupermarketsOperationRequest">
		<wsdl:part name="parameters" element="tns:FindInacessbileSupermarketsOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="FindInacessbileSupermarketsOperationResponse">
		<wsdl:part name="parameters" element="tns:FindInacessbileSupermarketsOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="FindInacessbileSupermarketsPortType">
		<wsdl:operation name="FindInacessbileSupermarketsOperation">
			<wsdl:input message="tns:FindInacessbileSupermarketsOperationRequest"></wsdl:input>
			<wsdl:output message="tns:FindInacessbileSupermarketsOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="getWellandInacessbileSupermarketsBinding"
		type="tns:FindInacessbileSupermarketsPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FindInacessbileSupermarketsOperation">
			<soap:operation
				soapAction="http://www.talend.org/service/FindInacessbileSupermarketsOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="FindInacessbileSupermarkets">
		<wsdl:port name="FindInacessbileSupermarketsPort" binding="tns:getWellandInacessbileSupermarketsBinding">
			<soap:address location="http://localhost:8080/services/FindInacessbileSupermarkets" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>